@tailwind base;
@tailwind components;
@tailwind utilities;

:root > * {
    box-sizing: content-box;
}

.main-grid {
    overflow: scroll;
    display: grid;
    max-height: 100%;
    grid-auto-flow: row;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
}

.page-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
}
.room-grid {
    display: grid;
    height: 100%;
    grid-gap: 20px;
    grid-template-columns: 300px 1fr;
}

.side-bar {
    background-color: #212529;
}
.rounded-circle {
    padding: 1.5rem;
    border-radius: 50%;
}
.side-grid-header {
    display: grid;
    min-height: 0;
    max-height: auto;
    font-weight: bolder;
    align-content: center;
    padding-left: 20px;
    background-color: #212529;
    color: aliceblue;
    position: absolute;
}
.side-grid-list {
    display: grid;
    grid-auto-flow: row;
    max-height: 100%;
}
.chat-room-grid {
    display: grid;
    max-height: 100%;
    position: relative;
    padding-right: 20px;
    grid-auto-flow: row;
    grid-template-rows: minmax(0, 1fr) minmax(0, auto) minmax(0, auto);
}
.chatbox-flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: 100%;
    position: relative;
    overflow-y: scroll;
    grid-template-rows: minmax(0, 1fr);
}
.message-form {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}
.message-submit-button {
    display: inline-block;
}
.side-grid {
    max-height: 100%;
    display: grid;
    overflow: scroll !important;
    background-color: #212529;
    grid-auto-flow: row;
    overflow: scroll;
}
.side-grid > * {
    position: relative;
}
.room-accordion {
    min-height: 0;
    overflow: scroll;
    position: absolute;
}

.side-grid-rooms {
    display: grid;
    height: 100%;
    overflow: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.chat-input {
    resize: none;
}
.single-chat-message {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.single-chat-header {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 2px solid;
    border-color: rgba(20, 20, 20, 0.059);
}
.single-chat-author {
    font-weight: bold;
    margin-right: 5px;
    align-self: last baseline;
}
.chat-message-date {
    font-style: italic;
    font-size: 0.8rem;
    align-self: last baseline;
}
.chat-output-message {
    grid-column-start: 1;
    grid-column-end: 2;
}
.myrooms-card-buttons-grid {
    display: grid;
    width: 100%;
    grid-gap: 5px;
    grid-template-columns: auto auto 1fr;
}
